body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .main-header {
    overflow: hidden;
    background-color: #333;
  }
  
  .main-header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .main-header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .main-header a.active {
    background-color: #4CAF50;
    color: white;
  }

  .main-content {
    padding-left: 30px;
  }

  .user-list {
    margin: 10px;
    list-style: none;
    font: inherit;
    font-size: 20px;
    color: #3e00a1;
    background: white;
    cursor: pointer;
  }

  .user-list a {
    text-decoration: none;
  }

.user-list a:hover {

    border: 1px solid #3e00a1;
    padding: 0 10px;
    border-radius: 3px;
    background: #3e00a1;
    color: white;
}